---
import { Icon } from 'astro-icon/components';
import Layout from '../layouts/Layout.astro';
import resumeData from '../data/resume.json';
---

<Layout>
  Resume
  <!--<div class="flex align-middle justify-center mb-8">-->
  <!--  <img-->
  <!--    class="h-64 w-64 rounded-full"-->
  <!--    src={resumeData.basics.image}-->
  <!--    alt={resumeData.basics.name}-->
  <!--  />-->
  <!--</div>-->
  <!--<h1 class="text-center text-5xl font-semibold mb-4">-->
  <!--  {resumeData.basics.name}-->
  <!--</h1>-->
  <!--<div class="flex justify-center gap-8">-->
  <!--  <div class="flex align-middle gap-2">-->
  <!--    <Icon name="briefcase" class="text-2xl" />-->
  <!--    {resumeData.basics.label}-->
  <!--  </div>-->
  <!--  <div class="flex align-middle gap-2">-->
  <!--    <Icon name="location" class="text-2xl" />-->
  <!--    {resumeData.basics.location.city}-->
  <!--  </div>-->
  <!--  <div class="flex align-middle gap-2">-->
  <!--    <Icon name="social-telegram" class="text-2xl" />-->
  <!--    {resumeData.basics.location.city}-->
  <!--  </div>-->
  <!--</div>-->
</Layout>